node_modules
.pnpm
.pnpm-store
.env
.env.local
.env.*.local
dist
build
.next
out
coverage
logs
*.log
npm-debug.log*
pnpm-debug.log*
.vscode
.DS_Store
Thumbs.db
*.tsbuildinfo
next-env.d.ts
.vercel
* text=auto
